<%= bootstrap_form_for(@message) do |f| %>
  <%= render "layouts/errors", object: @message %>

  <div id="to-fields">
    <%= f.number_field :to, id: 'to-recipient-1'%>
  </div>
  <%= f.text_field :from %>
  <%= f.text_field :body %>
  <%= f.text_field :status %>
  <div class="actions">
    <%= f.submit "Send Message" %>
  </div>
<% end %>
