<%= bootstrap_form_for(@message) do |f| %>
  <%= render "layouts/errors", object: @message %>

  <%= f.text_field :to %>
  <%= f.text_field :from %>
  <%= f.text_field :body %>
  <%= f.text_field :status %>
  <div class="actions">
    <%= f.submit "Send Message" %>
  </div>
<% end %>
